<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benvenuto - Libreria Online</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navbar">
        <div><strong>Bookstore</strong></div>
        <div><a href="/login">Login</a></div>
    </nav>
    

    <main style="text-align: center; margin-top: 100px;">
        <h1>Benvenuto nella nostra Libreria Online!</h1>
        <div style="margin-top: 2rem;">
            <a href="/login" 
               style="padding: 1rem 2rem; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
               Scopri il nostro catalogo
            </a>
        </div>
    </main>
</body>
</html>
